In [1]:
import sebcreditrisk as scr
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
# scr.process_data()

In [3]:
scr.load_data('gcd')

       year  quarter  asset_class country  industry  t1  t2  count
0      2007        2            1      DK       250  24  13      1
1      2007        2            1      DK       250  13  24      1
2      2007        2            1      DK       250  12  11      1
3      2007        2            1      DK       700  24  12      1
4      2007        2            1      DK       750   1   1      1
...     ...      ...          ...     ...       ...  ..  ..    ...
58996  2014        4            6      SE       650  12  12      1
58997  2014        4            6      SE       650  13  11      1
58998  2014        4            6      SE       650  13  12      1
58999  2014        4            6      SE       650  23  23      1
59000  2014        4            6      SE       700  11  13      1

[59001 rows x 8 columns]

In [4]:
scr.load_data('rating')

     s&p  gcd  seb
0    AAA    1    1
1    AA+    2    1
2     AA    3    2
3    AA-    4    2
4     A+    5    3
5      A    6    3
6     A-    7    4
7   BBB+    8    5
8    BBB    9    6
9   BBB-   10    7
10   BB+   11    8
11    BB   12    9
12   BB-   13   10
13    B+   14   11
14     B   15   12
15    B-   16   13
16  CCC+   17   14
17  CCC+   18   14
18   CCC   19   14
19    CC   20   14
20     C   21   15
21    NR   22   NR
22     D   23   16
23   New   24  New

In [5]:
scr.load_data('seb')

       year  t1  t2 industry_nace  industry_1  industry_2 country  count
0      2009   1   1         00000         300          70      SE      1
1      2009   1   1         32501          70          50      NO      1
2      2009   1   1         33200          70          50      FI      1
3      2009   1   1         35300          80         170      SE      1
4      2009   1   1         52230         140         100      SE      2
...     ...  ..  ..           ...         ...         ...     ...    ...
49880  2019  16  16         93112         220          70      SE      1
49881  2019  16  16         93120         220          70      SE      1
49882  2019  16  16         94990         160          10      SE      1
49883  2019  16  16         96090         130          10      SE      2
49884  2019  16  16         99000         220          70      SE      1

[49885 rows x 8 columns]

In [6]:
scr.load_data('nace')

,code_nace,name_nace,code_1,name_1,code_2,name_2
0,00000,UNKNOWN,300,Uncoded,70,Other
1,01100,Growing of non-perennial crops,10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
2,01110,"Growing of cereals (except rice), leguminous c...",10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
3,01120,Growing of rice,10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
4,01130,"Growing of vegetables and melons, roots and tu...",10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
...,...,...,...,...,...,...
1073,99998,Estate of deceased,220,Other,70,Other
1074,99999,Uncoded,300,Uncoded,70,Other
1075,NA,Not available,300,Uncoded,70,Other
1076,PPMMM,Private Customers-mortgage(fictitious code onl...,255,"Households, mortgage",130,Households
1077,PPPPP,Private customers (fictive code),250,"Households, other",130,Households

In [7]:
scr.get_code_name('01100', 0)

[]

In [8]:
scr.get_code_name(150, 1)

['Shipping']

In [9]:
scr.get_code_name(100, 2)

['Transportation']

In [10]:
df = scr.get_gcd_transition_matrix(year=[2014], quarter=[4] ,asset_class=[], country=[], industry=[])
pd.DataFrame(df)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,4,0,2,41,1,1,2,1,3,1,...,0,0,0,0,0,0,0,0,0,10
1,0,3,0,20,3,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,7
2,0,0,9,15,5,17,42,13,0,1,...,0,0,0,0,0,0,1,0,0,21
3,0,1,0,735,134,94,70,40,6,8,...,0,0,3,0,2,0,0,0,0,206
4,0,0,0,57,539,2009,107,72,13,8,...,5,0,0,0,1,4,0,0,2,655
5,0,1,1,43,47,237,445,160,50,30,...,7,0,0,0,2,1,0,0,0,188
6,0,0,0,24,43,164,418,467,110,131,...,2,5,3,1,0,2,0,0,1,383
7,0,0,0,27,14,107,258,575,301,174,...,14,6,2,19,0,2,4,0,3,417
8,0,0,0,0,5,8,61,150,205,326,...,22,6,3,1,0,0,0,0,3,284
9,0,0,0,13,3,10,30,80,86,327,...,15,8,2,4,2,2,4,0,1,619
10,0,0,0,12,2,7,16,39,58,101,...,35,16,2,5,2,2,5,0,0,249
11,0,0,0,0,1,3,3,16,21,32,...,171,56,3,46,2,31,16,0,5,755
12,0,0,0,7,7,15,45,55,51,97,...,250,100,7,129,12,37,53,0,9,1192
13,0,0,0,5,0,1,8,9,8,12,...,149,66,10,102,4,58,41,0,9,456
14,0,0,0,0,0,0,9,7,4,5,...,263,57,11,56,8,33,47,0,3,308
15,0,0,0,0,0,3,3,1,1,4,...,56,89,15,37,5,19,24,0,2,200
16,0,0,0,0,0,0,8,2,0,2,...,4,7,15,34,5,5,1,0,3,46
17,0,0,0,1,0,0,4,3,0,1,...,52,32,3,144,45,47,64,0,15,213
18,0,0,0,0,0,1,2,0,0,1,...,4,6,5,12,14,9,13,0,2,50
19,0,0,0,2,1,2,1,1,0,2,...,16,21,2,22,7,220,103,0,63,185
20,0,0,0,0,0,0,2,1,0,1,...,14,14,2,36,6,27,245,0,68,305
21,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,4
22,0,0,0,0,0,1,0,1,1,0,...,0,1,1,1,2,12,12,0,235,182
23,3,2,8,219,139,250,336,406,224,336,...,678,289,27,287,20,162,235,10,23,0

In [11]:
df = scr.get_seb_transition_matrix(year=[], country=[], industry=[])
pd.DataFrame(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,465,21,11,5,11,3,1,1,2,0,0,3,0,0,0,0
1,36,1303,61,36,46,26,18,8,0,4,0,14,0,0,0,0
2,9,81,1824,92,22,7,7,2,3,2,0,17,0,0,0,1
3,3,24,142,3068,206,50,13,12,5,6,0,28,0,0,0,0
4,5,21,65,203,3482,276,93,44,12,7,3,54,0,0,0,1
5,3,10,29,48,334,4030,456,155,45,18,5,51,0,0,0,0
6,1,10,17,16,117,529,9363,1502,558,117,19,83,4,0,1,3
7,2,4,4,21,39,208,2301,19527,2655,495,92,164,21,6,1,12
8,1,5,4,2,27,67,927,4211,29023,3127,418,398,97,21,18,47
9,0,6,3,7,8,19,234,789,4808,21576,1516,772,276,58,41,145
10,1,1,1,0,6,2,19,57,266,1341,4996,597,268,48,29,74
11,0,2,1,1,0,8,7,20,52,209,478,2495,225,71,42,66
12,0,1,2,0,0,0,0,4,22,40,127,294,1442,133,74,91
13,0,0,0,0,0,0,0,0,6,6,14,55,89,418,59,84
14,0,0,0,0,0,0,0,1,0,6,4,21,36,23,384,126
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1647