In [1]:
import sebcreditrisk as scr
import numpy as np
import pandas as pd
from scipy.stats import norm
import torch

In [2]:
# scr.process_data()

In [3]:
gcd = scr.load_data('gcd')
gcd

       year  quarter  asset_class country  industry  count  t1  t2
0      2007        2            1      DK       250      1   9   8
1      2007        2            1      DK       750      1   1   1
2      2007        2            1      FI       250      1  13  13
3      2007        2            1      FI       750      1   1   1
4      2007        2            1      SE       250      1   9   8
...     ...      ...          ...     ...       ...    ...  ..  ..
39846  2014        4            6      SE       650      1   8   8
39847  2014        4            6      SE       650      1   9   9
39848  2014        4            6      SE       650      1  10   8
39849  2014        4            6      SE       650      1  10   9
39850  2014        4            6      SE       700      1   8  10

[39851 rows x 8 columns]

In [4]:
scr.load_data('rating')

     s&p  gcd  seb
0    AAA    1    1
1    AA+    2    1
2     AA    3    2
3    AA-    4    2
4     A+    5    3
5      A    6    3
6     A-    7    4
7   BBB+    8    5
8    BBB    9    6
9   BBB-   10    7
10   BB+   11    8
11    BB   12    9
12   BB-   13   10
13    B+   14   11
14     B   15   12
15    B-   16   13
16  CCC+   17   14
17  CCC+   18   14
18   CCC   19   14
19    CC   20   14
20     C   21   15
21    NR   22   NR
22     D   23   16
23   New   24  New

In [5]:
seb = scr.load_data('seb')
seb

       year  t1  t2 industry_nace  industry_1  industry_2 country  count
0      2009   1   1         00000         300          70      SE      1
1      2009   1   1         32501          70          50      NO      1
2      2009   1   1         33200          70          50      FI      1
3      2009   1   1         35300          80         170      SE      1
4      2009   1   1         52230         140         100      SE      2
...     ...  ..  ..           ...         ...         ...     ...    ...
49140  2019  15  16         43210          90          20      SE      1
49141  2019  15  16         46731         100         110      SE      1
49142  2019  15  16         64202         260          10      SE      1
49143  2019  15  16         70220         160          10      SE      1
49144  2019  15  16         94990         160          10      SE      1

[49145 rows x 8 columns]

In [6]:
scr.load_data('nace')

,code_nace,name_nace,code_1,name_1,code_2,name_2
0,00000,UNKNOWN,300,Uncoded,70,Other
1,01100,Growing of non-perennial crops,10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
2,01110,"Growing of cereals (except rice), leguminous c...",10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
3,01120,Growing of rice,10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
4,01130,"Growing of vegetables and melons, roots and tu...",10,"Agriculture, forestry and fishing",150,"Agriculture, forestry and fishing"
...,...,...,...,...,...,...
1073,99998,Estate of deceased,220,Other,70,Other
1074,99999,Uncoded,300,Uncoded,70,Other
1075,NA,Not available,300,Uncoded,70,Other
1076,PPMMM,Private Customers-mortgage(fictitious code onl...,255,"Households, mortgage",130,Households
1077,PPPPP,Private customers (fictive code),250,"Households, other",130,Households

In [7]:
scr.get_code_name('01100', 0)

['Growing of non-perennial crops']

In [8]:
scr.get_code_name(150, 1)

['Shipping']

In [9]:
scr.get_code_name(100, 2)

['Transportation']

In [10]:
df = scr.get_gcd_transition_matrix(year=[2012], quarter=[] ,asset_class=[], country=[], industry=[], count=True)
pd.DataFrame(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,53,76,7,2,2,0,1,0,1,0,3,0,3,0,0,1
1,5,1454,303,62,33,11,7,5,3,5,2,5,6,2,0,1
2,7,483,4605,317,169,35,8,6,8,25,10,12,3,4,1,6
3,7,230,595,1008,500,124,41,24,28,22,16,3,9,5,0,1
4,1,367,523,957,1845,539,163,102,94,97,30,18,18,46,1,6
5,0,54,99,270,664,722,410,97,150,127,30,16,7,26,0,5
6,1,25,47,65,242,340,611,400,172,152,37,13,20,32,0,3
7,0,22,34,41,138,121,181,483,228,148,25,18,10,27,1,2
8,0,17,25,49,133,161,143,204,557,384,52,36,26,48,0,5
9,0,43,87,127,278,298,196,227,431,1789,222,133,99,194,0,19
10,0,1,6,13,29,46,50,58,72,325,385,98,51,134,5,27
11,0,11,12,16,22,17,37,32,42,126,251,199,64,111,5,9
12,0,9,7,9,19,7,17,10,13,86,66,140,138,137,14,12
13,0,12,21,9,18,25,20,13,42,95,76,69,140,1538,18,246
14,0,2,1,0,0,0,0,0,0,1,2,0,2,23,48,14

In [12]:
scr.qmm(df).reshape(-1,1)

array([[4.41929388e-06],
       [3.70525128e-05],
       [1.97126487e-04],
       [5.04194080e-04],
       [9.77673239e-04],
       [1.80524023e-03],
       [2.67835924e-03],
       [3.63827201e-03],
       [4.87772998e-03],
       [8.78971644e-03],
       [1.71956520e-02],
       [2.45275644e-02],
       [3.36267608e-02],
       [7.36501794e-02],
       [5.07047957e-01]])